<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Audio Converter</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>Youtube to Audio Converter Site</h1>
<h2>Welcome to the website</h2>
<h3>This website here, is the website where the gui executable of an Youtube to Audio converter GUI. </h3>
<h3>The origin behind this project was to extract audio from youtube video without the idea of going to third party websites (with the possibility of the sites stealing your information).</h3>
<h3>This project also taught me how to use tkinkter as well as getting into GUI Development</h3>
<h3>As more updates are pushed to the project, I will add newer versions/releases to this site when I can</h3>
<h3>Click here to download the GUI.</h3>
<h3>Enter your youtube link here and press this button to download!</h3>
<div class="download-program">
    <a href="{{ url_for('download_program') }}">
        <button>Download Program here!</button>
    </a>
</div>
</body>
</html>
</html>